TELEGRAM_TOKEN=
CHANNEL_ID=
ERROR_CHANNEL_ID=
GOOGLE_SHEET_ID=
GOOGLE_WORKSHEET_NAME=Лист1
GOOGLE_CREDENTIALS=
GOOGLE_CREDENTIALS_FILE=
LOCAL_TZ=Europe/Warsaw
SYNC_EVERY_MINUTES=5
SHEET_HAS_HEADER=true
LOG_LEVEL=INFO
